.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    max-width: 300px;
  }
  
  .team-member img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .team-member h3 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .team-member p {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #888;
  }
  