<div class="grid-container-team">
    <div class="team">
      <img src="assets/image/socks.png" class="socksImg">
      <span>Team</span>
    </div>
    <div class="grid-item">
      <img src="assets/image/Bild_Denu.png" class="teamImg">
      <h3 class="fontTeam">@Denushan</h3>
      <h3 class="fontTeam">Teamleader</h3>
    </div>
    <div class="grid-item">
      <img src="assets/image/Stefan-PA.png" class="teamImg">
      <h3 class="fontTeam">@Stefan</h3>
      <h3 class="fontTeam">Dev-Team</h3>
    </div>
    <div class="grid-item">
      <img src="assets/image/Nathan-PA.png" class="teamImg">
      <h3 class="fontTeam">@Nathan</h3>
      <h3 class="fontTeam">Dev-Team</h3>
    </div>
    <div class="grid-item">
      <img src="assets/image/Dani-PA.png" class="teamImg">
      <h3 class="fontTeam">@Daniel</h3>
      <h3 class="fontTeam">Design-Team</h3>
    </div>
    <div class="grid-item">
      <img src="assets/image/Muhammet-PA.png" class="teamImg">
      <h3 class="fontTeam">@Muhammet</h3>
      <h3 class="fontTeam">Design-Team</h3>
    </div>
  </div>




  