<div class="navbar">
  <mat-toolbar class="toolbar">
    <img src="assets/image/BotsLogo.png" class="logoImg">
    <div class="space">  </div>
    <a mat-button class="font" (mouseenter)="showMessage =true" (mouseleave)="showMessage = false" >Shop
      <!-- <p *ngIf="showMessage" class="comming-soon-text" >Comming Soon</p> -->
      <!-- <span *ngIf="showMessage" class="comming-soon-text" >Bald verfügbar</span> -->
    </a>
    <a mat-button class="font" routerLink="/competition" >Wettkampf</a>
    <a mat-button class="font" routerLink="/info">Info</a>
    <a mat-button class="font" routerLink="/tutorial" >Tutorial</a>
    <a mat-raised-button class="font" routerLink="/login" >Anmelden</a>
  </mat-toolbar>
</div>

<!-- <div>
  <h1>Offical home of</h1>
  <span>BotsOnSocks</span>
  <h2>Hallo und herzlich willkommen auf meiner Webseite!
    Ich bin sehr neugierig und immer auf der Suche nach Abenteuern. Meine Lieblingsbeschäftigung ist es, kleine Rätsel zu lösen und Herausforderungen zu meistern.
    Vielleicht fragst du dich, warum ich eine Socke auf dem Kopf trage? Das ist eine gute Frage! Um das herauszufinden, lade ich dich ein, mein kleines Spiel zu spielen. Ich bin mir sicher, du wirst Spaß daran haben!
    Also, worauf wartest du noch? Lass uns loslegen und gemeinsam das Rätsel der Socke auf meinem Kopf lösen!</h2>
</div>
<img src="assets/image/robot.png" alt="robot">
<button mat-raised-button class="Play-button">Play</button> -->

<div class="container">
  <div class="text">
    <h2>Offical home of</h2>
    <span>Socks On Bots</span>
    <h2>Hallo und herzlich willkommen auf meiner Webseite!
      Ich bin sehr neugierig und immer auf der Suche nach Abenteuern. Meine Lieblingsbeschäftigung ist es, kleine Rätsel zu lösen und Herausforderungen zu meistern.
      Vielleicht fragst du dich, warum ich eine Socke auf dem Kopf trage? Das ist eine gute Frage! Um das herauszufinden, lade ich dich ein, mein kleines Spiel zu spielen. Ich bin mir sicher, du wirst Spaß daran haben!
      Also, worauf wartest du noch? Lass uns loslegen und gemeinsam das Rätsel der Socke auf meinem Kopf lösen!</h2>
    <button mat-raised-button class="Play-button">Play</button>
  </div>
  <div class="image">
    <img src="assets/image/robot.png" alt="robot" class="floating-image">
  </div>
</div>








<!-- <router-outlet></router-outlet> -->



